.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
.lInput{
    height: 30px;
    padding: 10px;
  }
  
.lButton {
    border: none;
    padding: 10px 20px;
    background-color: #7B52AE;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
.lButton:disabled{
    background-color: #4B3869;
    cursor: not-allowed;
  }