.navbar{
  height: 65px;
  /* background-color: #003580; */
  background-color: #4B3869;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
  font-size: 20px;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  font-size: 15px;
}

.navButtonLogout{
  margin-left: 20px;
  border: 1px solid white;
  border-radius: 25px;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  font-size: 15px;
}

.navLink {
  text-decoration: none;
  color: white;
}
